
body{
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #F2D7D5;
}
.header{
  background-color: #ffffff;
}
.portada{
  padding-top: 70px;
  padding-bottom: 50px;
  flex-direction: column;
  background-color: #feb7b1;
}
.perfil img{
  margin: 0 auto;
  border-radius: 50%;
  width: 250px;
  border: 10px solid #ffffff;
}
.texto h1, .texto p{
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}





.pie{
  gap: 30px;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pie img{
  height: 40px;
 
}